import { Repository, } from 'typeorm';
import { <%= name %>Entity } from './<%= variable %>.entity';
import { I<%= name %>Repository } from '../../applications';

export default function (db: Repository<<%= name %>Entity>): I<%= name %>Repository {
    return {

    };
}

