import { I<%= name %>Http, I<%= name %>Repository } from './index';
export function <%= variableCamelCase %>ApplicationService(<%= variableCamelCase %>Repository: I<%= name %>Repository): I<%= name %>Http{
  return{

  }
}
