import { Repository } from 'typeorm';
import { <%= name %>Entity, I<%= name %>Repository  } from '@tevet-troc/models';

export default function (db: Repository<<%= name %>Entity>): I<%= name %>Repository {
    return {

    };
}

